# dependencies
node_modules/
.vite/

# build output
dist/
build/

# environment files
.env
.env.*.local

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# optional OS-specific
*.swp
*.bak
*.tmp
